beautifulsoup4==4.9.3
googletrans==4.0.0-rc1
gtts==2.2.3
keyboard==0.13.5
pyPDF2==1.26.0
pyautogui==0.9.52
pyjokes==1.0.3
pytube==11.0.1
pywhatkit==5.1
requests==2.26.0
SpeechRecognition
wikipedia==1.4.0
pyttsx3
pywikihow
playsound
pyaudio
pydub
setuptools